@import url("https://fonts.googleapis.com/css?family=Oswald");

.Bookpage {
  display: grid;
  grid-template-columns: 934px auto;
  grid-template-rows: 90px 1276px;
  /*background-color: rgb(255, 252, 224);*/

  background-image: url("bg.png");
  /*filter: opacity(0.4);*/
}

.sidebar {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 200px;
  margin-bottom: 200px;
  border-radius: 10px;
  -webkit-box-shadow: -18px 16px 44px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -18px 16px 44px -17px rgba(0, 0, 0, 0.75);
  box-shadow: -18px 16px 44px -17px rgba(0, 0, 0, 0.75);
  background-color: white;
}

.label_container {
  padding-left: 8px;
  background-color: #ffffffa3;
  background-color: white;
  border-radius: 30px;
}

.topbar {
  grid-row: 1/2;
  grid-column: 1/3;
  background-color: white;
  border-bottom: 5px solid #8e848424;
  display: flex;
}

#inputTitle {
  font-size: 40px;
  height: 80px;
  width: 450px;
  margin-left: 200px;
  margin-right: 30px;
  text-align: center;
  outline: none;
  font-family: "Oswald", sans-serif;
}

.bookpagecontent {
  font-size: 30px;
}
#bookpage-save {
  margin-left: 160px;
}
.icon {
  margin-top: 10px;
}
.icon:not(#addpage) {
  filter: invert(50%);
}
.icons_for_sidebar {
  margin-bottom: 20px;
}
