.Page {
  display: grid;
  grid-template-columns: 934px auto;
  grid-template-rows: 90px 1276px;
  background-image: url("bg.png");
}

.pageTopbar {
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: white;
  border-bottom: 5px solid #8e848424;
  display: flex;
}

.page-content {
  grid-row: 2/3;
  grid-column: 1/2;
}

#share-icon {
  margin-left: 860px;
}
